@import 'mixins';

:host {
  @include grid(1);

  flex-direction: column;
  justify-content: center;

  > a {
    text-align: center;
  }

  ::ng-deep {
    .image {
      object-fit: contain !important;
    }
  }
}
